body {
    margin:0;
    background-color: #09b8db;
    font-family: sans-serif;
}

.todo-base{
   
    width: 350px;
    text-align: center;
    margin:auto;
    margin-top: 30px;
}
.input-section{
    background-color:#ececec;
    padding: 18px;
    border-radius: 10px;
}

.input-section input{
    border-radius: 5px;
    border:1px solid #fff;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}
ul{
    
    text-align: left;
    padding: 0;
}
ul li{
    display:flex;
    list-style: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    

}

ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}